# Hidden files
.env
.parcel-cache
.vscode
.DS_Store
.idea
.eslintcache

# Coverage files
coverage
codecov.yml

#Node modules
node_modules/

# Compiled parcel files
dist/

# User defined strategies
strategies/*
src/strategies/*
!strategies/sample.js
!src/strategies/sample.ts

!directory/sample.json

# User data
data/*

# User profiles
profiles/*