# Hidden files
.env
.parcel-cache
.vscode
.DS_Store
.idea
.eslintcache

# Coverage files
coverage
codecov.yml

#Node modules
node_modules/

# User data
user/
!user/strategies/sample.ts
!user/test-profiles/sample.json

# Parcel output folder
dist/
