// @import "~normalize.css";
@import 'npm:@blueprintjs/core/lib/css/blueprint.css';
@import 'npm:@blueprintjs/icons/lib/css/blueprint-icons.css';
@import 'npm:@blueprintjs/select/lib/css/blueprint-select.css';
@import 'npm:@blueprintjs/table/lib/css/table.css';

body {
  background-color: #30404d;
  color: white;
}

.page {
  padding-top: 50px;
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
}
